{% extends 'base.html.twig' %}

{% block title %}Hello Tet!{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        {% if isErrorShow == false %}
            <div class="container">
                <div class="row m-1 p-1 tick-border">
                    <div class="col-12 text-md-left">
                        <button onclick="runWeatherForecast()" class="btn btn-sm btn-primary">Atjaunotus datus</button>
                    </div>
                </div>
                <div class="row bg-light" style="margin-left: 0px; margin-right: 0px;">
                    <lable class="col-6 col-form-label-sm col-form-label text-md-right">
                        Valsts nosaukums:
                    </lable>
                    <lable class="col-6 col-form-label-sm col-form-label text-md-left">
                        <b>{{ userData.countryname }}</b>
                    </lable>
                </div>

                <div class="row bg-light my-1" style="margin-left: 0px; margin-right: 0px;">
                    <lable class="col-6 col-form-label-sm col-form-label text-md-right">
                        Reģiona nosaukums:
                    </lable>
                    <lable class="col-6 col-form-label-sm col-form-label text-md-left">
                        <b>{{ userData.regionname }}</b>
                    </lable>
                </div>

                <div class="row bg-light my-1" style="margin-left: 0px; margin-right: 0px;">
                    <lable class="col-6 col-form-label-sm col-form-label text-md-right">
                        Valsts kods:
                    </lable>
                    <lable class="col-6 col-form-label-sm col-form-label text-md-left">
                        <b>{{ userData.coutrycode }}</b>
                    </lable>
                </div>

                <div class="row bg-light my-1" style="margin-left: 0px; margin-right: 0px;">
                    <lable class="col-6 col-form-label-sm col-form-label text-md-right">
                        Pasta indekss:
                    </lable>
                    <lable class="col-6 col-form-label-sm col-form-label text-md-left">
                        <b>{{ userData.zip }}</b>
                    </lable>
                </div>

                <div class="row bg-light my-1" style="margin-left: 0px; margin-right: 0px;">
                    <lable class="col-6 col-form-label-sm col-form-label text-md-right">
                        IP adrese:
                    </lable>
                    <lable class="col-6 col-form-label-sm col-form-label text-md-left">
                        <b>{{ userData.ip }}</b>
                    </lable>
                </div>

                <div class="row bg-light my-1" style="margin-left: 0px; margin-right: 0px;">
                    <lable class="col-6 col-form-label-sm col-form-label text-md-right">
                        Кoordinātas:
                    </lable>
                    <lable class="col-6 col-form-label-sm col-form-label text-md-left">
                        Platuma grādos: <b>{{ userData.latitude }}</b> <br/>
                        Garums grādos: <b>{{ userData.longitude }}</b>
                    </lable>
                </div>

                <span id="weatherForecast"></span>
            </div>

            <input type="hidden" id="lat" value="{{ userData.latitude }}" />
            <input type="hidden" id="lon" value="{{ userData.longitude }}" />
        {% endif %}
    </div>
    <input type="hidden" id="isRunWeatherForecast" value="{{ isErrorShow }}" />
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        $(function() {
            var isRunWeatherForecast = $('#isRunWeatherForecast').val();
            if (!isRunWeatherForecast) {
                runWeatherForecast();
            }
        });

        function runWeatherForecast() {
            var lat = $('#lat').val();
            var lon = $('#lon').val();
            var url = 'weather/forecast/'+lat+'/'+lon;
            $.getJSON (
                url,
                function(result) {
                    var form = '';
                    if (result == 1) {
                        form += '<div class="alert alert-danger">';
                        form += 'Laika prognoze pieejamais limits 60/min ir iztērēts';
                        form += '</div>';
                    } else {
                        $.each(result, function(key, row) {
                            form += '<div class="row bg-light my-1" style="margin-left: 0px; margin-right: 0px;">';
                            form += '<lable class="col-6 col-form-label-sm col-form-label text-md-right">';
                            form += row.title+':';
                            form += '</lable>';
                            form += '<lable class="col-6 col-form-label-sm col-form-label text-md-left">';
                            form += row.data;
                            form += '</lable>';
                            form += '</div>';
                        });
                    }
                    $('#weatherForecast').html(form);
                }
            );
        }
    </script>
{% endblock %}